<!doctype html>
<html lang=en>
<head>
<meta charset=utf-8>
<title>Market Monitor</title>
<link rel=stylesheet href="{{ url_for('static', filename='market.css') }}">
</head>
<body>
<header>
<div class="main">
  <div class="top">TOP</div>
  <div class="left">LEFT</div>
  <div class="right">
    MAIN
    <h2>Commodity search<h2>
    <form action="/commodities" method="POST">
      <p>Commodity: <input type="text" name="query_commodities"></p>
      <input type="submit" name = "action" value="commodities">
    </form>
    <h2>Currency search<h2>
    <form action="/currency" method="POST">
      <p>Currency: <input type="text" name="query_currency"></p>
      <input type="submit" name = "action" value="currency">
    </form>
  </div>
  <div class="clear"></div>
</div>
</header>
</body>
</html>
